<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgdiez.domain">
    <meta-data android:name="io.fabric.ApiKey" android:value="yHSC0yxATVQUszUfGsW7P3Lyv"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>
